node_modules/
.expo/
dist/
.env
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.ipa
web-build/
android/
ios/
package-lock.json
yarn.lock
adi-registration.properties
licenses.generated.json

expo-env.d.ts